<!DOCTYPE html>

<html>
  <body>

    <h1>{{ .PageTitle }}</h1>
     
    <table>
      <thead>Miscellaneous</thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Number of Processors</td>
        <td>{{ .Processors }}</td>
      </tr>

    </table>

    <table>
      <thead>Load Average</thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Avg (1 min)</td>
        <td>{{ .LoadAvg.Avg1 }}</td>
      </tr>

      <tr>
        <td>Avg (5 min)</td>
        <td>{{ .LoadAvg.Avg5 }}</td>
      </tr>

      <tr>
        <td>Avg (15 min)</td>
        <td>{{ .LoadAvg.Avg15 }}</td>
      </tr>

      <tr>
        <td>Running Processes</td>
        <td>{{ .LoadAvg.RunningProcesses }}</td>
      </tr>

      <tr>
        <td>Total Processes</td>
        <td>{{ .LoadAvg.TotalProcesses }}</td>
      </tr>

      <tr>
        <td>Last PID</td>
        <td>{{ .LoadAvg.LastPID }}</td>
      </tr>

    </table>

  </body>
</html>
